@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
body {
    font-family: 'Nunito', sans-serif; /* or 'Poppins' */
  }
  
.searchbar{
    width: 30%;
    height:40px;
    border:  2px solid rgba(187, 181, 181, 0.616);
    display: flex;
    align-items: center;
    border-radius: 40px;
    align-self: center;
}
.input_txt{
    width: 69.99%;
    height: 38px;
    border: none;
    border-radius: 40px;
    outline: none;
    background-color:  #f3eeee10;;
}
.input_txt:hover{
    background-color: #fff;
    margin-right: 2px black;
}
.sicondiv{
    cursor: pointer;
    height: 39px;
    width: 30%;
    background-color: rgb(237, 84, 84);
    border-radius: 20px;
}
.searchicon{
    padding-top: 4px;
    right: 10;
    color: #fff;
    height: 30px;
    width: 100%;
    
}
.searchicon:hover{
    height: 35px;
}
.sicondiv:hover{
    background-color:  rgb(229, 36, 36);

}