.listing-card {
    
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.listing-card:hover {
    transform: scale(1.02); /* Optional: Scale up on hover */
}

.listing-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.listing-info {
    padding: 10px;
}

.listing-title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 5px 0;
}

.listing-type,
.listing-details,
.listing-price,
.listing-rating {
    color: #555;
    font-size: 0.9em;
    margin: 2px 0;
}
