/* Categories.css */

.categories-container {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 10px;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.category-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border: none;
    background: none;
    cursor: pointer;
    /* font-size: 14px; */
    transition: color 0.3s, background-color 0.3s;
    font-size: 24px;
    margin-bottom: 5px;
    
}

.category-button.active {
    color: white;
    background-color: #ff385c; /* Airbnb's brand color */
    border-radius: 8px;
}

.category-icon {
    font-size: 100%;
}
.category-label{
    font-size: 70%;
}