@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
body {
    font-family: 'Nunito', sans-serif; /* or 'Poppins' */
  }
  
body{
    background-color: #e8e3e382;
}
.center_container{
    padding:10px;
    display: flex;               /* Enable flexbox */
    justify-content: center;     /* Center horizontally */
    align-items: center;         /* Center vertically */
    border-bottom: 1px solid #c1b8b8;
    

}